/* --- PROMO SECTION --- */
.promo {
    /* offset for fixed header */
    margin-top: 70px;
    background-image: url();
    background:
        linear-gradient(to right,
            rgba(0, 0, 0, 0.55) 0%,
            rgba(0, 0, 0, 0.35) 40%,
            rgba(0, 0, 0, 0.1) 70%,
            rgba(0, 0, 0, 0) 100%),
        url('/images/promo/сhistka-divana.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    min-height: calc(100vh - 70px);
}

.promo__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: flex-start;
}

.promo__content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    line-height: 1.2;
    color: var(--white);
}

.promo__content p {
    font-size: 1.2rem;
    color: var(--white);
    margin-bottom: 30px;
}

.promo__form {
    background: var(--white);
    padding: 40px;
    border-radius: var(--border-radius);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.promo__form-title {
    font-size: 1.4rem;
    margin: 0 0 25px 0;
    color: var(--text-dark);
    text-align: center;
}

.promo__form-group {
    margin-bottom: 20px;
}

.promo__form input,
.promo__form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
    outline: none;
}

.promo__form textarea {
    resize: vertical;
    height: 100px;
}

.promo__form-check {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.9rem;
    margin-bottom: 10px;
    color: var(--text-light);
}

.promo__form-check input[type="checkbox"] {
    flex-shrink: 0;
    margin: 0;
    width: 16px;
    height: 16px;
}

@media (max-width: 768px) {
    .promo__inner {
        grid-template-columns: 1fr;
    }
}